@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

h2,h3,footer,p,a {
    font-family: 'Lato', sans-serif;
}

h1,button {
    font-family: 'Balsamiq Sans', cursive;
}

a{
    color: #FF4500;
}
h3{
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: medium;
}
h1, h3, h2, footer, p{
    text-align: center;
}
.bold-title{
    font-weight: 600;
}
footer{
    font-size: small;
}
.main{
    /* color: white;
    background-color: #88898C; */

    /* border-color: #FF4500; 
    border-width: 3px;
    border-style: solid; */
    
    padding: 10px;

    /* font-family: 'Heebo', sans-serif; */
    /*max-width: 800px;*/
    align-content: center;
}
input{
    align-content: center;
    text-align: center;
}

.main p{
    color: #000;
}

#icon{
    margin: -20px
}

.time-result{
    font-weight: 500;
    text-decoration: underline;
}
.content{
    margin-top: 40px;
}
.subreddit{
    color: #FF4500;
}
#get-weather{
    margin: 20px;;
}